<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAME SUIT</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/assets/css/game_suit.css">
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
</head>

<body>
    <div class="background">
        <div class="myNavbar">
            <a href="/" class="arrowBack">
                < </a>
                    <img class="logoBack" src="../public/assets/img/img_game_suit/logo.png" alt="">
                    <h1 class="textBack">ROCK PAPER SCISSORS</h1>
                    <div id="room-info" class="d-flex flex-column"></div>
                    <div id="winner-info" class="d-flex flex-column">
                        <p>Round 1 : -</p>
                        <p>Round 2 : -</p>
                        <p>Round 3 : -</p>
                    </div>
                    <div class="d-flex flex-column">
                        <p>README : kalo masih round 1 kadang diklik pertama gamau </p>                        
                        <p>, harus di refresh sekali dulu</p>
                    </div>
        </div>
        <div class="playground">
            <div class="left-holder">
                <div class="left-right-1">
                    <h1 class="text-player">PLAYER 1</h1>
                </div>
                <div class="left-right-234">
                    <div class="selected-bg" id="batu-player">
                        <a href="#" onclick="clickBatu()"><img class="img-batu"
                                src="../public/assets/img/img_game_suit/batu.png" alt=""></a>
                    </div>
                </div>
                <div class="left-right-234">
                    <div class="selected-bg" id="kertas-player">
                        <a href="#" onclick="clickKertas()"><img class="img-kertas"
                                src="../public/assets/img/img_game_suit/kertas.png" alt=""></a>
                    </div>
                </div>
                <div class="left-right-234">
                    <div class="selected-bg" id="gunting-player">
                        <a href="#" onclick="clickGunting()"><img class="img-gunting"
                                src="../public/assets/img/img_game_suit/gunting.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="mid-holder">
                <div class="mid-1">
                    <h1 id="round">ROUND 1</h1>                    
                </div>
                <div class="mid-2">
                    <div class="versus-holder" id="versus-showcase">
                        <h1 class="versus-text">VS</h1>
                    </div>
                    <div class="result-holder" id="result-showcase">
                        <h1 id="result-text">COM WIN</h1>
                    </div>
                </div>
                <div class="mid-3">
                    <div class="next-round" id="next-round">
                        <button onclick="nextRound()" class="btn btn-primary" id="next-round-text"> NEXT ROUND</button>
                    </div>
                </div>
            </div>
            <div class="right-holder">
                <div class="left-right-1">
                    <h1>COM</h1>
                </div>
                <div class="left-right-234">
                    <div class="selected-bg" id="batu-com">
                        <img class="img-batu" src="../public/assets/img/img_game_suit/batu.png" alt="">
                    </div>
                </div>
                <div class="left-right-234">
                    <div class="selected-bg" id="kertas-com">
                        <img class="img-kertas" src="../public/assets/img/img_game_suit/kertas.png" alt="">
                    </div>
                </div>
                <div class="left-right-234">
                    <div class="selected-bg" id="gunting-com">
                        <img class="img-gunting" src="../public/assets/img/img_game_suit/gunting.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Loading For Opponent ...</h5>
                </div>
                <div id="modal-body">

                </div>
            </div>
        </div>
    </div>   

    <audio src="../public/assets/audio/choose.mp3" id="audio-choose"></audio>
    <audio src="../public/assets/audio/roulette-opening.mp3" id="roulette-audio-opening"></audio>
    <audio src="../public/assets/audio/roulette-ending-short.mp3" id="roulette-audio-endingShort"></audio>
    <audio src="../public/assets/audio/roulette-ending-med.mp3" id="roulette-audio-endingMed"></audio>
    <audio src="../public/assets/audio/roulette-ending-long.mp3" id="roulette-audio-endingLong"></audio>
    <audio src="../public/assets/audio/result-win.mp3" id="audio-result-win"></audio>
    <audio src="../public/assets/audio/result-draw.mp3" id="audio-result-draw"></audio>
    <audio src="../public/assets/audio/result-lose.mp3" id="audio-result-lose"></audio>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
    <script src="../public/assets/js/game_suit.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"
        integrity="sha512-gmwBmiTVER57N3jYS3LinA9eb8aHrJua5iQD7yqYCKa5x6Jjc7VDVaEA0je0Lu0bP9j7tEjV3+1qUm6loO99Kw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- JavaScript Bundle with Popper -->
</body>

</html>