<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
        body,
        html {
            height: 100%;
        }
    </style>
</head>

<body>
    <div class="container-fluid h-100 d-flex flex-column bg-info">
        <div class="row h-25">
            <form method="get" action="/" enctype="application/x-www-form-urlencoded">
                <button type="submit" class="bg-transparent border-0">
                    <h1 class="text-white ">
                        < </h1>
                </button>
            </form>
        </div>
        <div class="row flex-grow-1">
            <div class="col-4"></div>
            <div class="col-4 text-center align-self-center h-100">
                Seeder : username:admin pass:admin (SuperAdmin) , username:user1 password:user1
                (PlayerUser),username:user2 password:user2 (PlayerUser)
                <form id="form-login">
                    <h1 class="text-white mb-4 mt-1">LOGIN</h1>
                    <input type="text" class="form-control mb-3" id="username" name="username" placeholder="Username"
                        value="" required>
                    <input type="password" class="form-control mb-3" id="password" name="password"
                        placeholder="Password" value="" required>
                    <div class="row mb-3">
                        <div class="col text-start">
                            <input class="form-check-input" type="checkbox" value="" id="rememberCheck">
                            <label class="form-check-label" for="rememberCheck">
                                Remember me
                            </label>
                        </div>
                        <div class="col text-end">
                            <a href="">Forgot your password?</a>
                        </div>
                    </div>
                    <p class="text-danger">
                        <%= message %>
                    </p>
                    <button type="submit" class="btn btn-primary col-4">Login</button>
                </form>               
                <p>Dont have an account? <a href="/register">Sign up</a></p>
                <div>
                    README : mau ngetes game nya harus pake 2 browser karena nyimpen tokennya di localstorage
                </div>
                <div>
                    README : di gamenya , round 1 kadang diklik pertama gamau , harus direfresh sekali dulu
                </div>
            </div>
            <div class="col-4"></div>
        </div>
        <div class="row h-25"></div>
    </div>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <script>
        const BASE_URL = 'http://localhost:8000'
        const loginForm = document.getElementById('form-login')
        const username = document.getElementById('username')
        const password = document.getElementById('password')

        loginForm.onsubmit = function (e) {
            e.preventDefault()
            console.log('sumbiting');
            let payload = {
                username: username.value,
                password: password.value
            }

            fetch(`${BASE_URL}/api/v1/login`, {
                method: 'POST',
                headers: {
                    'content-type': 'application/json'
                },
                body: JSON.stringify(payload)
            })
                .then(res => res.json())
                .then(res => {
                    console.log(`login success: ${res.success}`)
                    if (res.success) {
                        // window.localStorage.setItem("token",res.token)
                        window.localStorage.setItem('userdata',JSON.stringify(res))    
                        window.location.replace(`${BASE_URL}/`)                
                    }
                })
        }
    </script>
</body>

</html>